<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css" > 
</head>
<body class="abtbody">
    <div class="about-main" >
    <%- include("header.ejs") %>
    <div class="pcontainer">
        <img src="images/pic.jpg" class="ppicture">
    </div>
    <div class="about">
        <h1 class="about-me">About Me</h1>
        <p class="abtme">
            Hi, I'm <strong>Aderemi Ademola</strong>, a passionate frontend developer and AI enthusiast based in Nigeria. 
            With a love for creating visually appealing and user-friendly websites, I enjoy blending technology and design to build seamless digital experiences. 
        <div class="abtme">
            I have experience in various web technologies, including HTML, CSS, and JavaScript, and I'm constantly learning to improve my skills. 
            Apart from web development, I'm also deeply interested in artificial intelligence, and I enjoy exploring its potential to solve real-world problems.
        </div>
        <div class="abtme">
            When I'm not coding, I spend my time learning about AI, reading tech blogs, or working on personal projects to push my boundaries in the tech world. 
        </div>
    </p>
    </div>
</div>
</body>
</html>