<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="styles/main.css" > 
        <body>
    <section>
    <%- include("header.ejs") %>
    <div class="social-links">
        <div id="cont" >
            <div class="cont-main" >
        <h2>Let's talk.</h2>
        <p>Have any questions? Connect with me here.</p>
        <div id="solc"  ></div>
        <a href="https://linkedin.com/in/aderemi-ademola-192907324" >
            <i class="fab fa-linkedin"></i> Connect on LinkedIn
        </a>
        </div>
        <br>
        <div id="solc"  >
        <a href="https://x.com/Crid_IV" class="x">
            <img src="images/x.jpg" id="xtwit">Follow on X
        </a>
        </div>
        <br>
        <div id="solc"  >
        <a href="mailto:ademoladeremi0@gmail.com" >
            <i class="fas fa-envelope"></i> Email me
        </a>
    </div>
    </div>
    </div>
</div>
</section>
</body>
</html>