<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Page</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
  <section class="main">
    <div class="content1">
      <h1>Publish your passions, your way</h1>
      <p>Create a unique and beautiful blog easily.</p>
      <a href="/post" class="button">Create your blog</a>
    </section>
</div>
</body>
</html>
